body{
    font-family: 'Lato', sans-serif;
font-family: 'Spline Sans', sans-serif;
margin: 0;

}
.first-para{
    color: grey;
}
.second-para{
    color: grey;
}
h1{
    font-size: 60px;
    
}
h2{
    font-size: 40px;
}
.name{
    color: rgb(207, 17, 17);
    
}
.flexible-container{
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.half-width img {
    width: 80%;
}
.hire-me-button{
 text-decoration: none;
 
 color: white;
 font-weight: 700;
 padding: 10px 40px;
 border-radius: 5px;
 background-image: linear-gradient(rgb(122, 25, 25), rgb(209, 29, 29)
 );

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
box-shadow: 10px 10px 40px grey;
width: 40%;
margin-left: 5%;
margin-right:5%;
padding-left: 20px;
border-radius: 5px;

}
.expeience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
#web-dev-exp{
    border-left: 7px solid;
border-image: linear-gradient(blue , rgba(18, 211, 211, 0.822));
border-image-slice: 1;
}
    #fullsta{
        border-left: 7px solid;
border-image: linear-gradient(salmon , orange);
border-image-slice: 1;
    }
    footer p{
text-align: center;
    }