body{
    font-family: 'Lato', sans-serif;
font-family: 'Spline Sans', sans-serif;
}
h1{
    font-size: 60px;
    
}
.name{
    color: rgb(104, 11, 190);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img {
    width: 100%;
}